<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PET SAVE</title>
  <link href="https://fonts.google.com/specimen/Cabin+Sketch?selection.family=Cabin+Sketch|Open+Sans" rel="stylesheet">
  <link rel="icon" href="/images/animal-paw-print.png">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <header>
   <h1>PET SAVE</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/owners">Owners</a></li>
        <li><a href="/adoptions">Adoptions</a></li>
      </ul>
    </nav>
  </header>
  <section id="content">
    <%= yield %>
  </section>
  <footer>
    <p>Add Logos here</p>
  </footer>
</body>
</html>
