<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shelter</title>
  <link rel="icon" href="/images/animal-paw-print.png" />
  <link href="https://fonts.google.com/specimen/Mukta+Mahee?selection.family=Mukta+Mahee" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/admissions">Admissions</a>
      </li>
    </ul>
  </nav>
  <section id="content">
    <%= yield %>
  </section>
</body>
</html>
