<!-- <p>This is going to be a page to register a new owner/animal</p>

<div class="adopt-icon">
  <h1>YES</h1>
</div> -->


<div class="image">

      <img src="/images/animal-paw-print.png" alt="" />

      <h3>Register<br>Owner/Animal</h3>

</div>
