@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);

body {
  color: black url('/images/background.jpg');
  font-family: 'Open Sans', serif;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

header {
  background: black ;
  color: lightyellow;
  font-family: 'Cabin Sketch', serif;
  display: flex;
  flex: 1;
  justify-content: center;
}

section {
  background: lightyellow;
  display: flex;
  flex: 1;
  height: 75vh;
}

aside {
  background: lightblue;
  flex-direction: column;
  float: left;
}

main {
  background: lightyellow;
  flex-direction: column;
  float: right;
}

footer {
  background: black;
  color: lightyellow;
  font-family: 'Cabin Sketch', serif;
  display: flex;
  flex: 1;
  align-self: flex-end;
  justify-content: center;
}

h1 {
  font-family: 'Cabin Sketch', serif;
  font-size: 48px;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

img {
  /* object-fit: contain;  */
  width: 100%;
  height: auto;
}
