@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);

body {
  color: black url('/images/background.jpg');
  font-family: 'Open Sans', serif;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

header {
  background: black ;
  color: whitesmoke;
  font-family: 'Cabin Sketch', serif;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

section {
  background: whitesmoke;
  display: flex;
  flex: 1;
  height: 75vh;
  border: 1px;
}

aside {
  background: whitesmoke;
  flex-direction: column;
  /* float: left; */
  flex: 1;
}

main {
  background: whitesmoke;
  flex-direction: column;
  /* float: right; */
  flex: 1;
}

footer {
  background: black;
  color: whitesmoke;
  font-family: 'Cabin Sketch', serif;
  display: flex;
  flex: 1;
  align-self: flex-end;
  justify-content: center;
}

h1 {
  font-family: 'Cabin Sketch', serif;
  font-size: 48px;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

nav ul {
 margin: 0;
 padding: 5px;
 list-style-type: none;
 text-align: center;
 background-color: #000;
 }

nav ul li {
 display: inline;
 }

nav ul li a {
 font-size: 24px;
 text-decoration: none;
 padding: .2em 1em;
 color: #fff;
 background-color: #000;
 }

nav ul li a:hover {
 color: #000;
 background-color: #fff;
 }


img {
  /* object-fit: contain;  */
  width: 100%;
  max-width: 400px;
  /* height: auto; */
}

@media all and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
