td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  font-size: 24px;
  font-family: 'Cabin Sketch', serif;
  font-weight: bold;
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
}

/* table tr:hover {
    background-color: lightgrey;
}

table tr {
    background-color: whitesmoke;
} */
